{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h3>Créer un compte</h3>
        {{ form_start(registrationForm, {'attr':{'class':'needs-validation', 'novalidate':'novalidate'}}) }}
            <fieldset class="form-group">
                <label class="mb-1" for="{{ registrationForm.email.vars.id }}">Adresse e-mail</label>
                <input
                        class="form-control {{ not registrationForm.email.vars.valid ? 'is-invalid' : '' }}"
                        type="text"
                        id="{{ registrationForm.email.vars.id }}"
                        name="{{ registrationForm.email.vars.full_name }}"
                        value="{{ registrationForm.email.vars.value }}"
                        required
                >
                {% if not registrationForm.email.vars.valid %}
                    {% for error in registrationForm.email.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}
                {% do registrationForm.email.setRendered %}
            </fieldset>
            <fieldset class="form-group mt-2">
                <label class="mb-1" for="{{ registrationForm.plainPassword.vars.id }}">Mot de passe</label>
                <input
                        class="form-control {{ not registrationForm.email.vars.valid ? 'is-invalid' : '' }}"
                        type="password"
                        id="{{ registrationForm.plainPassword.vars.id }}"
                        name="{{ registrationForm.plainPassword.vars.full_name }}"
                        value="{{ registrationForm.plainPassword.vars.value }}"
                        required
                >
                {% if not registrationForm.plainPassword.vars.valid %}
                    {% for error in registrationForm.plainPassword.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}
                {% do registrationForm.plainPassword.setRendered %}
            </fieldset>
            <fieldset class="form-group mt-2">
                <label for="{{ registrationForm.agreeTerms.vars.id }}">Accepter les conditions</label>
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="{{ registrationForm.agreeTerms.vars.id }}"
                        name="{{ registrationForm.agreeTerms.vars.full_name }}"
                        value="{{ registrationForm.agreeTerms.vars.value }}"
                        required
                >
                {% if not registrationForm.agreeTerms.vars.valid %}
                    {% for error in registrationForm.agreeTerms.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}
                {% do registrationForm.agreeTerms.setRendered %}
            </fieldset>
            <button class="btn btn-outline-secondary mt-3" type="submit">Continuer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            console.log(forms);
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}
